#banner {
    height: 125px;
}

#orbit-wrapper {
    min-height: 300px;
    padding: 25px;
    
}

#resultslist {
    display: table;
    margin: 0 auto;
    text-align: left;
    font-weight: bold;
}

#getready {
    color: red;
}

.phrase-slide {
    color: navy;
    font-weight: bold;
}
