<!doctype html>
<html>
    <head>
        <title>Handwriting Trainer</title>
        <script src="/static/javascript/jquery.min.js"></script>
        <script src="/static/javascript/jquery-ui/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="/static/javascript/jquery-ui/jquery-ui.min.css"></link>
        <link rel="stylesheet" href="/static/css/style.css"></link>

    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
{% block script %}{% endblock %}
