{% extends "foundationbase.html" %}

{% block sidemenu %}
<ul class="vertical menu">
    <li class="label menu-text secondary">Settings</li>
    <li class="menu-text"><span>Phrase count:</span>
    <li><input onchange="setPhrasecount()" id="inputPhrasecount" type="number" value="5"></li>
    <li>&nbsp;</li>
    <li class="menu-text"><span>Speed:</span></li>
    <li>
        <div class="row text-center  button-group ">
            <button class="setspeed button tiny secondary" speed="700"></button>
            <button class="setspeed button tiny secondary" speed="600"></button>
            <button class="setspeed button tiny primary" speed="500"></button>
            <button class="setspeed button tiny secondary" speed="400"></button>
            <button class="setspeed button tiny secondary" speed="300"></button>
        </div>
        <div class="row text-center">
            Slower <------> Faster
        </div>
    </li>
    <li>&nbsp;</li>
    <li></li>
    <li></li>
    <li></li>
</ul>
{% endblock %}

{% block content %}
<div class="row column text-center">
    <div id="orbit-wrapper">
        <h1>Click Start to Play...</h1>
    </div>
    <hr/>
</div>
<div class="row column text-center button-group" id="controls">
        <button class="button" onclick="getPhrases(phrasecount)">Start</button>
        <button class="button" onclick="clearOrbit()">Stop</button>
        <hr/>
</div>
<script>
</script>
{% endblock %}

