<div class="orbit" 
    data-infinite-wrap="false"
    data-auto-play="false"
    id="orbiter"
    >
    <ul class="orbit-container">
        <li class="orbit-slide is-active"><h1 id="getready">Get ready to write...</h1></li>
        {% for phrase in phraselist %}
        <li class="orbit-slide" 
            id="phraseslide_{{ phrase[2] }}" 
            phraselength="{{ phrase[1] }}"
            >
            <h1><span class=" phrase-slide">{{ phrase[0] }}</span></h1>
        </li>
        {% endfor %}
        <li class="orbit-slide">
            <ol id="resultslist">
                {% for phrase in phraselist %}
                <li ><h4>{{ phrase[0] }}</h4></li>
                {% endfor %}
            </ol>
        </li>
    </ul>
</div>
